node_modules
dist
.output
.nuxt
.vercel
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.idea
.history
.cursor
.cursorrules
.cursorignore
.claude/
playwright-report
test-results
.release
.package-preview
.content
.data
coverage
*.log
